body {
    background-color: black;
}

#Highscores {
    font-family: 'Orbitron', sans-serif;
    width: 10%;
    margin: 20px;
}

#wrapper {
    border: 2px solid blueviolet;
    border-style: dotted;
    background-color: black;
    border-radius: 5%;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 20%;
    left: 15%;
}

#questionsDiv {
    margin: 40px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: blueviolet;
    text-shadow: /* White glow */
    0 0 7px rgb(255, 255, 255), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(140, 0, 255), 0 0 82px rgb(140, 0, 255);
}

#timerStart {
    background-color: blueviolet;
    margin-left: 43%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
    position: relative;
    text-shadow: /* White glow */
    0 0 7px rgb(255, 255, 255), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(140, 0, 255), 0 0 82px rgb(140, 0, 255);
}

#currentTime {
    display: flex;
    justify-content: center;
    color: blueviolet;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-shadow: /* White glow */
    0 0 7px rgb(255, 255, 255), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(140, 0, 255), 0 0 82px rgb(140, 0, 255);
}

#goBack {
    background-color: blueviolet;
    text-shadow: /* White glow */
    0 0 7px rgb(255, 255, 255), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(140, 0, 255), 0 0 82px rgb(140, 0, 255);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#clear {
    background-color: blueviolet;
    text-shadow: /* White glow */
    0 0 7px rgb(255, 255, 255), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(140, 0, 255), 0 0 82px rgb(140, 0, 255);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}

button {
    border-radius: 8px;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: blueviolet;
    text-shadow: /* White glow */
    0 0 7px rgb(255, 255, 255), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(140, 0, 255), 0 0 82px rgb(140, 0, 255);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

li {
    background-color: blueviolet;
    text-shadow: /* White glow */
    0 0 7px rgb(255, 255, 255), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(140, 0, 255), 0 0 82px rgb(140, 0, 255);
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

@media screen and (max-width: 786px) {
    /* Resized content to fit 786px  */
    body {
        max-width: 786px;
    }
    /* Resized main-content to fit 786px  */
    #wrapper {
        position: relative;
        left: 20%;
    }
    a {
        margin-left: 20%;
    }
    #goBack {
        position: relative;
        left: 55%;
    }
    #clear {
        position: relative;
        right: 5%;
    }
}


/* A Media Query max-width: 640px */

@media screen and (max-width: 640px) {
    /* Resized content to fit 640px  */
    body {
        min-width: 640px;
    }
    /* Resized main-content to fit 640px  */
    #wrapper {
        position: relative;
        left: 10%;
    }
    a {
        margin-left: 10%;
    }
}